<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <div class="main">
        <% include ../partials/nav.ejs %>
        <form>
            <div class="form-group">
                <label for="lectureHall">Аудитория</label>
                <input type="text" name="lectureHall" id="lectureHall"/>
            </div>
            <div class="form-group">
                <label for="lectureHall">Семестр</label>
                <input type="text" name="semester" id="semester"/>
            </div>
            <button name="submit" id="submit">Просмотреть расписание</button>
        </form>
        <div class="target">
        </div>
    </div>
    <script type="text/javascript" src="/javascripts/Base64Binary.js"></script>
    <script type="text/javascript" src="/javascripts/queryEngine.js"></script>
</body>

</html>
