<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/register.css" />
    <% include ../partials/header.ejs %>
</head>

<body>
    <div>
    <% include ../partials/nav.ejs %>
    </div>


    <div id="container_demo" >
            <a class="hiddenanchor" id="toregister"></a>
            <a class="hiddenanchor" id="tologin"></a>
            <div id="wrapper">
                <div id="login" class="animate form">
                    <form  action="mysuperscript.php" autocomplete="on"> 
                        <h1>Вход</h1> 
                        <p> 
                            <label for="username" class="uname" data-icon="u" > Ваш e-mail или логин</label>
                            <input id="username" name="username" required="required" type="text" placeholder="sitehere или sitehere.ru@my.com"/>
                        </p>
                        <p> 
                            <label for="password" class="youpasswd" data-icon="p"> Ваш пароль </label>
                            <input id="password" name="password" required="required" type="password" placeholder="например 123456" /> 
                        </p>
                        <p class="keeplogin"> 
                            <input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" /> 
                            <label for="loginkeeping">Запомнить меня</label>
                        </p>
                        <p class="login button"> 
                            <input type="submit" value="Войти" /> 
                        </p>
                        <p class="change_link">
                            Не зарегистрированы еще ?
                            <a href="#toregister" class="to_register">Присоединяйтесь</a>
                        </p>
                    </form>
                </div>
         
                <div id="register" class="animate form">
                    <form  action="mysuperscript.php" autocomplete="on"> 
                        <h1> Регистрация </h1> 
                        <p> 
                            <label for="usernamesignup" class="uname" data-icon="u">Ваш логин</label>
                            <input id="usernamesignup" name="usernamesignup" required="required" type="text" placeholder="myname1" />
                        </p>
                        <p> 
                            <label for="emailsignup" class="youmail" data-icon="e" > Ваш e-mail</label>
                            <input id="emailsignup" name="emailsignup" required="required" type="email" placeholder="sitehere.ru@my.com"/> 
                        </p>
                        <p> 
                                <label for="usermobnum" class="umob" data-icon="n">Моб номер</label>
                                <input id="usermobnum" name="usermobnum" required="required" type="number" placeholder="+380000000000" />
                            </p>
                        <p> 
                            <label for="passwordsignup" class="youpasswd" data-icon="p">Ваш пароль </label>
                            <input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="123456"/>
                        </p>
                        <p> 
                            <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Подтвердите ваш пароль </label>
                            <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="123456"/>
                        </p>
                            <p class="signin button"> 
                            <input type="submit" value="Регистрация"/> 
                        </p>
                        <p class="change_link">  
                            Уже зарегистрированы ?
                            <a href="#tologin" class="to_register"> Войдите на сайт </a>
                        </p>
                    </form>
                </div>						
            </div>
        </div>
    <!--<div>
    <div class="form-wrap">
            <h1>Регистрация</h1>
        </div>
        <form method="post" action="register.php">
            <div>
                <label for="name">Имя</label>
                <input type="text" name="name" required>
            </div>
            <div>
                    <label for="surname">Фамилия</label>
                    <input type="text" name="surname" required>
            </div>
            <div>
                    <label for="mobNumb">Номер телефона</label>
                    <input type="text" name="mobNumb" required>
            </div>
            <div class="radio">
                <span>Пол</span>
                <label>
                    <input type="radio" name="sex" value="мужской">мужской
                    <div class="radio-control male"></div>
                </label>
                <label>
                    <input type="radio" name="sex" value="женский">женский
                    <div class="radio-control female"></div>
                </label>
            </div>
            <div>
                <label for="email">E-mail</label>
                <input type="email" name="email" required>
            </div>
            <div>
                <div class="select-arrow"></div>
            </div>
            <button type="submit">Отправить</button>
        </form>
    </div>-->
</body>

</html>